@use '../../baseStyles' as *;

.searchBox {
    @include flexCenter();
    justify-content: flex-start;
    border: .0938rem solid $pokerDefoultTextColor;
    height: 2.75rem;
    border-radius: 1.375rem;
    width: 15.625rem;
    padding: .625rem;
    background-color: $secondaryBackground;
    margin: .625rem 0rem 1.25rem;

    svg {
        width: 1rem;
        height: 1rem;
        margin-right: .75rem;
        flex-shrink: 0; // prevents it from shrinking
        color: $pokerDefoultTextColor;
    }

    input {
        background: none;
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: .875rem;
        height: 100%;
    }
}