@import '../../../assets/baseStyles';

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.mistakes ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.mistakes ul li::before {
    content: '♦';
    width: 20px;
    height: 20px;
    color: $pokerDefoultTextColor;
    margin-right: 5px;
}