@use '../../../../assets/baseStyles' as *;



.variantBox {
    @include flexCenter(column);
    margin-bottom: 1.25rem;
    // width: 70%;

    img {
        width: 6.25rem;
        // margin-top: 1.25rem;
    }

    .variant {
        min-width: 12.5rem;
        max-width: 14.375rem;
        // height: 15.625rem;
        backdrop-filter: blur(.1875rem);
        border: .125rem solid $variantBorderColor;
        border-radius: .5rem;
        position: relative;
        overflow: scroll;
        padding: .625rem;
        // margin-top: 12.5rem;


        .variantInfoBox {
            text-align: center;
            font-size: .875rem;
        }

        .variantHeading {
            font-weight: bold;
        }

        p {
            text-shadow: 0 .1875rem .1875rem rgba($color: #000000, $alpha: 0.5);
        }

        p span {
            color: $primaryColoredText;
        }

        .variantLearn {
            @include button($learnBtnColor);
            font-size: .875rem;
            padding: .3125rem .625rem;
            margin-top: .625rem;
        }
    }
}