$primaryBackground: #121212;
$secondaryBackground: #1A1A1A;
$practiceBtnColor: linear-gradient(330deg, rgba(185, 62, 9, 1) 0%, rgba(215, 81, 32, 1) 49%, rgba(243, 101, 49, 1) 100%);
$pickVariantBtnColor: linear-gradient(330deg, rgba(185, 47, 47, 1) 0%, rgba(206, 56, 56, 1) 49%, rgba(227, 64, 64, 1) 100%);
$learnBtnColor: linear-gradient(330deg, rgba(49, 150, 26, 1) 0%, rgba(49, 144, 5, 1) 49%, rgba(80, 155, 33, 1) 100%);
$pokerDefoultTextColor: #F4F4F4;
$pokerSecondaryTextColor: #e4e4e4;
$pokerDefoultCardColor: #1F1F1F;

@mixin button($bckColor, $letterSpacing: 0px) {
    background: $bckColor;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    box-shadow: inset 0rem .3125rem .5rem rgba(253, 253, 253, 0.2);
    // margin: 100px;
    border-radius: 6px;
    letter-spacing: $letterSpacing;
}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin card($borderRadius, $bcgColor, $padding, $headingFontSize, $infoFontSize) {
    border: none;
    border-radius: $borderRadius;
    padding: $padding;
    background-color: $bcgColor;
    box-shadow: 0 1.125rem 1.0625rem rgba($color: #000000, $alpha: .54);
    box-shadow: inset 0 .1875rem .375rem rgba($color: #fff, $alpha: .25);
    text-align: center;
    @include flexCenter(column);

    #cardHeading {
        font-size: $headingFontSize;
        color: $pokerDefoultTextColor;
        font-weight: bold;
        margin-bottom: .3125rem;
    }

    #cardInfo {
        font-size: $infoFontSize;
        color: $pokerDefoultTextColor;
        margin-bottom: 0;
    }
}

@mixin list() {
    list-style: none;

    li {
        font-size: .875rem;
        margin-bottom: .625rem;
    }

    li::before {
        content: '♦';
        width: 1.25rem;
        height: 1.25rem;
        color: $pokerDefoultTextColor;
        margin-right: .3125rem;
    }
}