$primaryBackground: #121212;
$secondaryBackground: #1A1A1A;
$chooseGameBackground: #411C1C;
$practiceBtnColor: linear-gradient(330deg, rgba(185, 62, 9, 1) 0%, rgba(215, 81, 32, 1) 49%, rgba(243, 101, 49, 1) 100%);
$pickVariantBtnColor: linear-gradient(330deg, rgba(185, 47, 47, 1) 0%, rgba(206, 56, 56, 1) 49%, rgba(227, 64, 64, 1) 100%);
$learnBtnColor: linear-gradient(330deg, rgba(49, 150, 26, 1) 0%, rgba(49, 144, 5, 1) 49%, rgba(80, 155, 33, 1) 100%);
$requestBtn: linear-gradient(330deg, rgba(9, 100, 185, 1) 0%, rgba(32, 96, 215, 1) 49%, rgba(49, 127, 243, 1) 100%);
$quizzBtnColor: linear-gradient(330deg, rgba(207, 117, 27, 1) 0%, rgba(215, 123, 32, 1) 49%, rgba(243, 123, 49, 1) 100%);
$pokerDefoultTextColor: #F4F4F4;
$pokerSecondaryTextColor: #e4e4e4;
$pokerDefoultCardColor: #1F1F1F;
$sectionPadding: 0rem .625rem;
$variantsBorder: .0625rem solid $pokerDefoultTextColor;
$variantBorderColor: #7B1D1D;
$primaryColoredText: #E19E41;
$secondaryColoredText: #FFD700;

@mixin button($bckColor, $letterSpacing: 0rem) {
    background: $bckColor;
    border: none;
    padding: .625rem 1.25rem;
    font-size: 1.25rem;
    color: #fff;
    box-shadow: inset 0px 5px 8px rgba(253, 253, 253, 0.2);
    border-radius: .375rem;
    letter-spacing: $letterSpacing;
    cursor: pointer;

}

@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin card($borderRadius, $bcgColor, $padding, $headingFontSize, $infoFontSize) {
    border: none;
    border-radius: $borderRadius;
    padding: $padding;
    background-color: $bcgColor;
    box-shadow: inset 0 3px 6px rgba($color: #fff, $alpha: .25);
    text-align: center;
    @include flexCenter(column);

    #cardHeading {
        font-size: $headingFontSize;
        color: $pokerDefoultTextColor;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #cardInfo {
        font-size: $infoFontSize;
        color: $pokerDefoultTextColor;
        margin-bottom: 0;
    }
}

@mixin list() {
    list-style: none;

    li {
        font-size: 14px;
        margin-bottom: 10px;
    }

    li::before {
        content: '♦';
        width: 20px;
        height: 20px;
        color: $pokerDefoultTextColor;
        margin-right: 5px;
    }
}