@use '../../../assets/baseStyles' as *;


h2 {
    color: $pokerDefoultTextColor;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

#handRankings {
    color: $pokerSecondaryTextColor;
    padding: $sectionPadding;

    .hands {
        margin-bottom: 1.875rem;
    }


}