@use '../../../assets/baseStyles' as *;

.learnVariants {
    border-top: $variantsBorder;
    border-bottom: $variantsBorder;
}

.variants {
    height: 70dvh;
    padding: $sectionPadding;
    @include flexCenter(column);
    justify-content: flex-start;
    padding-bottom: .625rem;


    #variantsHeading {
        margin: 1.25rem 0rem;
    }

    #variantContainer {
        overflow: scroll;
    }

}