@use '../../baseStyles' as *;


#sectionHeading {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: .625rem;
}

#sectionInfo {
    font-size: .875rem;
    line-height: 1.4375rem;
    margin-bottom: 1.875rem;
    white-space: pre-line;
}